body, body *, body *::before, body *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;

    background: transparent;

    font-family: inherit;
  
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a img {
    border: none
}

button, a {
    cursor: pointer;
    color: inherit
}

textarea {
    resize: none
}

button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7E4DA;
}

#root {
    display: flex;
    flex-direction: column;
    
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    font-weight: 400;
    color: #467745;
}

input[type="text"] {
    max-width: 480px;
    height: 64px;
    padding: 20px;
    margin-bottom: 20px;

    background-color: white;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #467745;
}

input[type="text"]::placeholder {
    color: #467745;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
}

textarea {
    max-width: 480px;
    height: 120px;
    padding: 20px;
    margin-bottom: 25px;

    background-color: white;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #467745;
}

textarea::placeholder {
    color: #467745;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
}


input[type="checkbox"] {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    background-color: white;
}

section {
    margin-bottom: 30px;
}

label {
    font-family: 'Montserrat', sans-serif;
    color: #467745;
}

a {
    text-decoration: underline;
}

button {
    align-self: center;
    width: 280px;
    height: 80px;
    border-radius: 50px;

    background-color: #467745;

    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 21px;
    font-weight: 400;
    color: #F7E4D4;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 519px) {
    h1 {
        font-size: 36px;
        text-align: left;
    }
    
    input[type="text"] {
        width: 100%-40px;
    }

    body {
        padding: 20px;
    }

    textarea {
        width: 100%-40px;
    }
}